<table class="table table-hover mb-0" style="margin-top: 10px">
  <!-- Added mb-0 to remove table margin-bottom -->
  <thead class="table-dark">
    <tr>
      <th>Employee ID</th>
      <th>Allocated By</th>
      <th>Email ID</th>
      <th>Employee Name</th>
      <th>Organization</th>
      <th>Project</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="users.GetAllEmployeeResponse.EmployeeList">
      <tr
        *ngFor="
          let user of users.GetAllEmployeeResponse.EmployeeList
            | paginate : { itemsPerPage: psize, currentPage: currentPage }
        "
      >
        <td>{{ user.empId }}</td>
        <td>{{ user.allocatedBy }}</td>
        <td>{{ user.emailId }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.organization }}</td>
        <td>{{ user.project }}</td>
        <td>
          <button
            type="button"
            class="btn btn-warning"
            (click)="onUpdateBtnClicK(user.empId)"
          >
            <i class="fa-solid fa-user-pen"></i>
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteByID(user.empId, $event)"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-info" (click)="onViewBtnClick(user.empId)">
            <i class="fa-solid fa-eye"></i>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<pagination-controls (pageChange)="currentPage = $event"></pagination-controls>

<app-modals
  *ngIf="viewEmployeeDetail == true"
  [userDetail]="employeeDetail"
  class="modal-overlay"
  (updateEvent)="getValueFromModal($event)"
></app-modals>

<app-update-card
  *ngIf="viewUpdateEmployee == true"
  [userDetail]="employeeDetail"
  (closeUpdateEmployeeModal)="getValueFromcloseUpdateEmployeeModal($event)"
  class="modal-overlay"
></app-update-card>
