<app-navbar [log]="loggedIn"></app-navbar>

<div class="card" style="margin-top: 10px">
  <div class="card-header d-flex justify-content-between align-items-center">
    <span class="fw-bolder" *ngIf="showAllEmployeeDetails">
      Employee Details</span
    >
    <span class="fw-bolder" *ngIf="!showAllEmployeeDetails">
      Add New Employee Detail</span
    >
    <button
      class="btn btn-info"
      style="margin-right: 0"
      *ngIf="showAllEmployeeDetails"
      (click)="showAllEmployeeDetail()"
    >
      <i class="fa-solid fa-user-plus"></i>
    </button>
    <button
      class="btn btn-danger"
      style="margin-right: 0"
      *ngIf="!showAllEmployeeDetails"
      (click)="showAllEmployeeDetail()"
    >
      <i class="fa-solid fa-circle-xmark"></i>
    </button>
  </div>
  <div class="card-body">
    <app-employee-details *ngIf="showAllEmployeeDetails"></app-employee-details>
    <app-add-employee-form
      *ngIf="!showAllEmployeeDetails"
    ></app-add-employee-form>
  </div>
</div>

<!-- <app-footer></app-footer> -->
