<div class="card text-center" style="bottom: 0; width: 100%">
  <div class="card-header" style="background-color: #8fb1ce">Contact Us</div>
  <div class="card-body" style="background-color: #81b1ce">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div
    class="card-footer text-body-secondary"
    style="background-color: #8fb1ce"
  >
    &#64;2024 Ltd <i class="fa-brands fa-facebook"></i>
  </div>
</div>
