<app-navbar></app-navbar>

<div
  class="container-sm"
  style="
    background-color: #81b1ce;
    margin-top: 100px;
    height: 350px;
    max-width: 500px;
  "
>
  <form
    style="padding: 40px"
    #member_loginform="ngForm"
    (ngSubmit)="member_login_form_data(member_loginform.value)"
  >
    <h3 style="text-align: center">{{ loginType }}</h3>
    <div class="mb-3">
      <label for="InputEmail" class="form-label">Email address</label>
      <input
        type="email"
        ngModel
        name="email"
        class="form-control"
        id="InputEmail"
        aria-describedby="emailHelp"
        placeholder="Enter Email"
      />
    </div>
    <div class="mb-3">
      <label for="InputPassword" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        ngModel
        class="form-control"
        id="InputPassword"
        placeholder="Enter Password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
